<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Sistema de Gestión de Expedientes Legales</title>
  <link href="/stylesheets/styleIndex.css" rel="stylesheet" type="text/css">

</head>
<body>
  <div class="header">
    <h1 class="title">Sistema de Gestión de Expedientes Legales</h1>
    <div class="big-buttons">
      <a href="/expedientes"><button>Expedientes</button></a>
      <a href="/informes"><button>Informes</button></a>
      <a href="/jueces"><button>Jueces</button></a>
      <a href="/contadores"><button>Contadores</button></a>
    </div>
    <div class="small-buttons">
      <a href="/acceso"><button>Acceso</button></a>
      <a href="/camaras"><button>Cámaras</button></a>
      <a href="/juzgados"><button>Juzgado</button></a>
      <a href="/caratulas"><button>Carátulas</button></a>
      <a href="/centro"><button>Centro Judicial</button></a>
      <a href="/usuarios/accesosAExpedientes"><button>Ver los accesos a expedientes</button></a>
      <a href="/genero"><button>Género</button></a>
      <a href="/estadoCiv"><button>Estado Civil</button></a>
      <a href="/instancia"><button>Instancia</button></a>
      <a href="/nacionalidad"><button>Nacionalidad</button></a>
      <a href="/secretarios"><button>Secretario</button></a>
      <a href="/tipo"><button>Tipo</button></a>
      <a href="/usuarios"><button>Usuario</button></a>
    </div>
  </div>
</body>
</html>